
body{
    background-color: lightblue;
}

.header{
    font-size: 20px;
    position: relative;
    margin-left: 30vw;
}

button{
    font-size: 20px;
    cursor: pointer;
    position: relative;
    margin-left: 10vw;
}

.button1{
    background-color: lightcoral
}

.button2{
    background-color: lightgreen
}

.button3{
    background-color: lightyellow;
}

.button4{
    background-color: lightsalmon;
}

.button5{
    background-color: lightsteelblue;
}
